* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left, #fff 80%, #888080 20%);
}
.navsection {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to top, #fff 80%, #888080 20%);
}
.logo {
  width: 40%;
  color: black;
  background-color: gainsboro;
  padding-left: 100px;
  box-sizing: border-box;
}
.logo h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  animation: leftright 2s linear infinite;
  animation-direction: alternate;
}
@keyframes leftright {
  from {
    padding-left: 20px;
  }
  to {
    padding-right: 20px;
  }
}
nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  font-size: 17px;
  position: relative;
}
nav a:first-child {
  color: #4458dc;
}
nav a:before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 0;
  height: 2px;
  border-bottom: 2px solid #01051f;
  transition: all linear 0.4s;
}
nav a:hover:before {
  width: 100%;
}
main {
  height: 80vh;
  display: flex;
  justify-content: center;
}
