* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left, #fff 80%, lightgray 20%);
}
.navsection {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to top, #fff 85%, lightgray 20%);
}
.logo {
  width: 40%;
  color: black;
  background-color: lightgray;
  padding-left: 100px;
  box-sizing: border-box;
}
.logo h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  animation: leftright 2s linear infinite;
  animation-direction: alternate;
}
@keyframes leftright {
  from {
    padding-left: 20px;
  }
  to {
    padding-right: 20px;
  }
}
nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  font-size: 17px;
  position: relative;
}
nav a:first-child {
  color: #4458dc;
}
nav a:before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 0;
  height: 2px;
  border-bottom: 2px solid #01051f;
  transition: all linear 0.4s;
}
nav a:hover:before {
  width: 100%;
}
main {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rightside img {
  border-radius: 10%;
}
.leftside {
  color: black;
  text-transform: uppercase;
}
.leftside h3 {
  font-size: 40px;
  margin-bottom: 20px;
}
.leftside h3:after {
  content: "";
  width: 450px;
  height: 3px;
  position: absolute;
  top: 47.5%;
  left: 20%;
  background: #000;
}
.leftside h1 {
  margin-top: 20px;
  font-size: 70px;
  margin-bottom: 25px;
}

.leftside h2 {
  margin-bottom: 35px;
  font-weight: 500;
  word-spacing: 4px;
}
.leftside .btn1 {
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  padding: 12px 25px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  margin-right: 50px;
  color: #fff;
  letter-spacing: 0;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
  border: double 2px transparent;
  box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
}
.leftside .btn2 {
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  padding: 12px 25px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  margin-right: 50px;
  color: #222;
  background-color: #fff;
  border: 2px solid #4458dc;
  box-shadow: none;
}
.leftside .btn1:hover {
  color: #222;
  background-color: #fff;
  border: 2px solid #4458dc;
  box-shadow: none;
  background-image: none;
}
